body{
    background-color: aqua;
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.carrito{
    width: 20px;
    height: 20px; 
}

.no_cuenta{
    visibility: visible;
}
.con_cuenta{
    visibility: hidden;
}