body{
    background-color: aqua;
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.carrito{
    width: 20px;
    height: 20px; 
}

.no-cuenta{
    display:contents;
}
.con-cuenta{
    display: none;
}